.__category-bar {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.__category-img {
  width: 60px;
}
.__category-img > img {
  width: 100%;
}
.c__category-bar-name {
  width: 100%;
  font-size: 13px;
  font-weight: 500px;
  padding: 4px 0;
}
